.header{
    position:relative;
    max-width: 1080px;
    margin: 0 auto;
}

.header-inner{
    display: flex;
    width: 1080px;
    flex-wrap: wrap;
    float: left;
    background-color: aliceblue;
}

.menu-item {
    font-family: "one-title";
    font-size:25px;
    text-decoration: none;
}

.menu-item :hover, :focus, :visited, :link, :active{
    text-decoration: none;
}