.header{
    display: flex;
    z-index:999;
    background-color: aliceblue;
}

.menu-item {
    font-family: "one-title";
    font-size:25px;
    text-decoration: none;
}

.menu-item :hover, :focus, :visited, :link, :active{
    text-decoration: none;
}