.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "one-pop";
  src: url(./fonts/one-pop.ttf);
}
@font-face {
  font-family: "one-title";
  src: url(./fonts/one-title.ttf);
}

.content-wrap{
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

.article{
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  flex-wrap: wrap;

}

.container {
  position: relative;
}

::-webkit-scrollbar{
  display: none;
}

.card-title{
  font-family: "one-pop";
  font-size:1em;
  font-weight: normal;
}

.board-title{
  font-family: "one-title";
  font-size:2em;
  font-weight: normal;
  margin-top: 30px;
  padding: 0 20px 10px;
  border-bottom: 1px solid #eee;
}

.board-text{
  font-size:1em;
  font-weight: normal;
}
